GAS_WEB_APP_URL=https://script.google.com/macros/s/XXXXXXXXXXXXXXXXXXXXXXXX/exec
OXYLABS_USERNAME=your_oxylabs_username
OXYLABS_PASSWORD=your_oxylabs_password
OXYLABS_GEO_LOCATION=Indonesia

GAS_SHARED_TOKEN=

MAX_KEYWORDS_PER_RUN=200
REQUEST_DELAY_SECONDS=2

MAX_BIOS_PER_RUN=200
BIO_REQUEST_DELAY_SECONDS=3
