GAS_WEB_APP_URL=https://script.google.com/macros/s/AKfycbzVbNpaZzlOWIh5i-Uh7D9n642W4GBt50YWu172_mFGMb-cBczdpH5SOuIBSduEzmk/exec
OXYLABS_USERNAME=G4s4n4_SLMKp
OXYLABS_PASSWORD=QcoE0118@1975
OXYLABS_GEO_LOCATION=Indonesia

GAS_SHARED_TOKEN=G4s4n4

MAX_KEYWORDS_PER_RUN=200
REQUEST_DELAY_SECONDS=2

MAX_BIOS_PER_RUN=200
BIO_REQUEST_DELAY_SECONDS=3
